
LayerWidget {

    align: center middle;

    &:blur {
        border: round $border-blurred;
    }

    &:focus {
        border: heavy $border;
    }
}

SimpleScreen {

    align: center middle;

}

LabelSelector {
    & .container {
        layout: grid;
        grid-size: 2 3;
        grid-rows: auto 3;
        grid-columns: 1fr 1fr;
        grid-gutter: 1 3;

        & .question {
            column-span: 2;
            height: auto;
            padding: 3;
            align: center middle;
        }

        & Button, & Label {
            width: 1fr;
        }
    }
}
